<%- include('partials/header') %>

     <div class="a">
<br>
<h1>Customer Travel History</h1>
        <br></br>
		<div class="f">
		
		   
			<form class="form-inline" id="form" action="/cust_details/search" method="POST" >
				<input class="form-control mr-sm-2" type="text" placeholder="Enter name" aria-label="Search" name="name">
				
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
			
		</div>
		
         <div class="flt">
		       <a href="/cust_details/new"><button class="btn btn-success">Add Customer Travel Detail</button></a>
         </div>		 
		
		<div id="table1">
		
				<table class="table">
						  <thead class="thead-dark">
							<tr>
							  <th scope="col">#</th>
							  <th scope="col">Name</th>
							  <th scope="col">Source</th>
							  <th scope="col">Destination</th>
							  <th scope="col">Arrival_Time</th>
							  <th scope="col">Departure_Time</th>
							  </tr>
						  </thead>
						  <tbody>
						  <%
						  var count=1;
						  r.forEach(function(r)
						  {
						  
						  for(var i=0;i<r.customers.length;i++)
						  {%>
						  
						   <tr>
							<td><%= count %></td>
							<td><%= r.customers[i].c_name %></td>
							<td><%= r.route[i].source %></td>
							<td><%= r.route[i].destination %></td>
							<td><%= r.arrival_time %></td>
							<td><%= r.departure_time %></td>
							
						  </tr>
						  <%
						  count=count+1;
						  }
						 });
						  %>
						 
						  
						  
						 </tbody>
				</table>
		
		
		
		</div>
</div>

<%- include('partials/footer') %>