<%- include('partials/header') %>


<div class="adj">
	<h1 class="a">Bus stops</h1>
	<br></br>
	<form method="POST" action="/bus">
	   <div class="mb-3">
		<label class="form-label">Bus No</label>
		<input type="number"  class="form-control" name="bno" value="<%= l %>">
	  </div>
	  <%
	  count=1;
	  while(count<=r.nos)
	  {%>
	  <div class="mb-3">
		<label class="form-label">Station <%= count %></label>
		<input type="text"  class="form-control" name="s[<%= count %>]">
	  </div>
	  <%
	  count=count+1;
	  }
	  %>
	  <button>Submit</button>
     </form>
</div>


<%- include('partials/footer') %>
